@media screen and (max-width: 480px) {

    .caixa, .caixa-formulario {
        width: auto;
        margin: 20px auto;
    }

    ul.menu-nav {
        text-align: center;
    }

    nav {
        position: static;
    }

    label {
        margin: 20px auto;
        text-align: center;
    }

    input {
        margin: 20px auto;
        text-align: center;
    }

    fieldset {
        margin: 20px auto;
        text-align: center;
    }

    textarea {
        margin: 20px auto;
        text-align: center;
    }

    .tabela-horario p {
        margin: 20px auto;
        text-align: center;
    }

    table {
        margin: 20px auto;
    }

}